pole-server
pole-server-*
pole-server-release*
pole-server-release.tar.gz

logs/
/statis/
/discover-statis/
/discover-event/

.idea
.DS_Store
coverage*

*.swp
*.code-workspace

__debug_bin

.vscode
*.bolt
*.bolt.lock
/vendor
.codecc
*.log

style_tool/
goimports-reviser

data