.operationGroup {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  gap: 4px;
  white-space: nowrap;
}

.operationItem {
  display: inline-flex;
  flex: 0 0 28px;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
}

.operationButton {
  width: 28px;
  min-width: 28px;
  height: 28px;
  min-height: 28px;
  padding: 0;
}
