.link {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  color: var(--colorBrandForegroundLink, #0f6cbd);
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
}
