.panel {
  :global {
    .fui-Input {
      border: none;
    }
    .fui-Input:hover {
      background: var(--app-surface-secondary);
      transition: background var(--app-duration-base) linear
    }
    .fui-Input:focus-within {
      box-shadow: none;
    }
  }
}
