.Content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
  padding: 24px;
  min-height: 400px;
  color: var(--app-brand);

  .title {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    margin-top: 8px;
    color: var(--app-text);
  }
  .description {
    margin: 8px 0 32px;
    font-size: 14px;
    line-height: 22px;
    color: var(--app-text-secondary);
  }

  .rightButton {
    margin-left: 8px;
  }
}
